.App {
  text-align: center;
}

body {
  background: linear-gradient(to right, rgb(128, 0, 128), rgb(255, 192, 203));
}

.container.border.border-4 {
  border-color: white !important;
  border-radius: 50px;
  height: 470px;
  margin-top: 20px;
  max-width: 640px;
  padding: 40px;
}
