.d-flex {
  display: flex !important;
  margin-top: 10px;
}

/* 1 - CURRENT TEMP SECTION */

.current-temp-box {
  align-items: center;
  border: 3px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.current-degrees {
  display: inline-block;
  font-size: 45px;
  font-weight: 700;
  margin-left: 25px;
  margin-top: 10px;
}

.current-weather-desc {
  text-transform: capitalize;
}

.celsius {
  margin-right: 5px;
}
.fahrenheit {
  margin-left: 3px;
}

.celsius,
.fahrenheit {
  color: white;
  text-decoration: none;
}
.celsius:hover,
.fahrenheit:hover {
  color: lightskyblue;
}

.current-icon {
  margin-top: -15px;
}

/* 2 - SEARCH SECTION */

/* 3 - CURRENT CITY SECTION */

.pinpoint-icon {
  font-size: 30px;
}

.city {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 9px;
  margin-left: 10px;
  margin-top: -3px;
}

.updated-date {
  color: white;
  display: block;
  font-weight: bolder;
}

/* 4 - CURRENT WEATHER CONDITION SECTION */

.wind {
  font-weight: bold;
}
.wind-section {
  margin-left: -10px;
  margin-right: 50px;
  margin-top: -25px;
  text-align: center;
}

.humidity {
  font-weight: bold;
}
.humidity-section {
  text-align: center;
  margin-top: -25px;
}

/* 5 - FORECAST SECTION */
.forecast-title {
  font-weight: bold;
}
